/* Codigo para resetar CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
Codigo para resetar CSS

--------------------------------------

Inicio do CSS

HEADER
*/

header {
    padding: 30px 0;
    background-color: #eff0e8;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid pink;
}


header .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}


header .container .titulo {
    margin-left: 80px;
    display: flex;
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;
}

header .container .titulo img {
    width: 70px;
    position: absolute;
    top: 10px;
    box-sizing: border-box;

}

header .container .titulo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    box-sizing: border-box;

}

header .container .titulo .itens {
    font-size: 20px;
    cursor: pointer;
    margin-left: 12vw;
    box-sizing: border-box;
}

header .container .titulo .item {
    font-size: 20px;
}

header .container .titulo .itens button {
    cursor: pointer;
    background-color: aqua;
    height: 30px;
    width: 130%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
}

header .container .titulo .itens button:hover {
    opacity: 0.5;
}


header .container .titulo .itens ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/*
HEADER
--------------------------------------

Inicio do Site

Imagem da toguro
*/

section {
    margin-top: 20px;
    display: flex;
    
}
 .containerDoInicio{
    background-image: url(../img/fotoDoInicio.gif);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section .container-incio-do-site-toga {
    display: flex;
}

section .container-incio-do-site-toga .imagem_toga {
    background-image: url(../img/togaTrello-removebg-preview.png);
    background-size: cover;
    background-size: 100%;
    width: 50vw;
    display: flex;
    height: 60vh;
    background-repeat: no-repeat;
    
}


section .container-apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .container-apresentacao .nome {
    display: flex;
    width: 85%;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1.5px solid black;
    font-size: 30px;
}

section .container-apresentacao .Frase {
    margin-top: 15px;
    display: flex;
    width: 80%;
    flex-direction: column;
    font-size: 20px;
}

.numeros{
    display: flex;
    background-color: brown;
    
}
div.um {
    border-bottom: 10px solid black;
    width: 100%;
clip-path: polygon(1% 1%,0% 20%  );
background-color: brown;
}