*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.carrosel {
margin: 0 auto;
width: 800px;
height: 400px;
overflow: hidden;
}

.containerCarrosel {
    width: 400%;
    height: 400px;
    display: flex;
}

.containerCarrosel input{
    display: none;
}

.imagen {
width: 25%;
position: relative;
}

.imagen img{
    width: 800px;
}

.navegarManualmente {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.botaoManual{
border: 2px solid black;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
margin-left: 30px;
}

.botaoManual:hover {
    background-color: aqua;
}

#radio1:checked ~ .first {
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}