/* Codigo para resetar CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
Codigo para resetar CSS

--------------------------------------

Inicio do CSS

HEADER

*/


.imagem_do_inicio {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 98vh;
    opacity: 1;
    background-image: url(../assets/img/fotoDoInicio.gif);
}

header {
    background-color: rgba(0, 90, 146, 0.144)
}

.imagem_do_inicio header {
    padding: 15px 0;
    width: 100%;
    border: none;
    display: flex;
}

.imagem_do_inicio header .container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.imagem_do_inicio header .container {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}

.imagem_do_inicio header .container .logo {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
    margin-left: 5%;
}

.imagem_do_inicio header .container .logo img {}

.imagem_do_inicio header .container .itens {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 80%;
}

.imagem_do_inicio header .container .itens li {
    margin-left: 30px;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFF5F4;
}

.imagem_do_inicio header .container .itens li:hover {
    opacity: 0.5;
}

.imagem_do_inicio header .container .botaos {
    justify-content: flex-end;
    display: flex;
    margin-right: 5%;
    align-items: center;
}

.imagem_do_inicio header .container .botaos li {
    margin-left: 20px;
    width: 100%;
    padding: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    border: 1px solid white;
}

.imagem_do_inicio header .container button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 6vw;
    border: none;
    background-color: #F3A8A6;
    font-size: 15px;
}

.imagem_do_inicio header .container button:hover {
    opacity: 0.5;
}

a {
    color: inherit;
    text-decoration: none;
}


/*
HEADER
--------------------------------------

Inicio do Site

Imagem da toguro
*/

.imagem_do_inicio .container_toga {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imagem_do_inicio .container_toga .container_inicial {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 60px;
}

.imagem_do_inicio .container_toga .container_inicial2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.imagem_do_inicio .container_toga .container_inicial .container_nome {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagem_do_inicio .container_toga .container_inicial .container_nome .nome_himiko_toga {
    margin-top: 10px;
    width: 100%;
    -webkit-text-stroke: .5vh #FFF;
    font-size: 10vw;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(../assets/img/raiocerto.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text 10s ease alternate infinite;
}

.imagem_do_inicio .container_toga .container_frase {
    color: #F3A8A6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.imagem_do_inicio .container_toga .container_frase h1 {
    background-color: rgba(0, 90, 146, 0.329);
}

.imagem_do_inicio .container_toga .botao {
    margin-top: 120px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;

}

.imagem_do_inicio .container_toga .botao li {
    border: 1px solid white;
    padding: 2px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.imagem_do_inicio .container_toga .botao button {
    height: 50px;
    color: #2F4858;
    width: 150px;
    cursor: pointer;
    background-color: #F3A8A6;
}

.imagem_do_inicio .container_toga .botao button:hover {
    opacity: 0.5;
}

.imagem_do_inicio .container_toga .wave {
    display: flex;
    align-items: flex-end;
    height: 100%;

}

.imagem_do_inicio .container_toga .wave img {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: flex-end;
}

.container_antes_do_carrosel {
    margin-top: 20px;
    background-color: #FEEBD6;
    width: 100%;
    height: 15vh;
    color: white;
    display: flex;
    align-items: center;

}

.container_antes_do_carrosel .frase_maior {
    font-size: 40px;
    justify-content: flex-start;
    margin-left: 50px;
    width: 100%;
    color: #F3A8A6;
}

.container_antes_do_carrosel .frase_menor {
    font-size: 15px;
    display: flex;
    width: 100%;
    color: #FFE4E1;
    align-items: flex-end;
    margin-right: 50px;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 40px;
}

.container_antes_do_carrosel .frase_menor h1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.espaco {
    height: 15vh;
    background-color: #FEEBD6;
}

/*
Inicio do Site

Imagem da toguro
--------------------------------------

Inicio dos personagens

valores
*/

.valores {
    display: flex;
    width: 50%;
    flex-direction: column;


}

.valores .caixa-valor {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45%;

}

.valores .caixa-valor .valor-texto {
    display: flex;
    color:  #2F4858;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    font-size: 25px;
}


.valores .caixa-valor .valor-foto1 {
    display: flex;
    height: 230px;
    width: 70%;
    margin-right: 10px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgba(163, 145, 114, 0.562);
    justify-content: center;
}

.valores .caixa-valor .valor-foto2 {
    display: flex;
    height: 230px;
    width: 70%;
    margin-right: 10px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgb(145, 102, 124);
    justify-content: center;
}


.valores .caixa-valor .valor-foto img {
    display: flex;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 230px;
    height: 230px;
}

.espaco-caixa {
    margin-top: 40px;
}

/*
Valores

--------------------------------------

Header dos Personagens

*/


.container_personagem {
    height: 110%;
    background-color: rgb(0, 90, 146);
}

.body {
    background-color: rgb(0, 90, 146);

}

.miniHeader {
    margin-top: 10px;
    display: flex;
    padding: 15px 0;
    width: 100%;
    border: none;
    display: flex;
    border-bottom: 0.5px solid white;
}


.miniHeader .container {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}

.miniHeader .container .logo {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
    margin-left: 8%;
}


.miniHeader .container .itens {
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.miniHeader .container .itens li {
    margin-left: 30px;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFF5F4;
}

.miniHeader .container .itens li:hover {
    opacity: 0.5;
}

/*

Header dos Personagens

--------------------------------------

personagem

*/
.containerPersonagem {
    display: flex;
}

.containerPersonagem-Direita {
    width: 50%;
}

.containerPersonagem-Direita .descricao {
    width: 100%;
}

.containerPersonagem-Direita .descricao .descricao-titulo {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.containerPersonagem-Direita .descricao .descricao-titulo h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(255, 146, 202), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containerPersonagem-Direita .descricao .descricao-texto {
    margin-left: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #f3a9a64f;
    padding: 30px;
    align-items: center;
    margin-top: 30px;
}

.containerPersonagem-Direita .tres-caixas {
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
    font-size: 25px;
    margin-left: 30px;
}


.containerPersonagem-Direita .tres-caixas .caixa1 {
    margin-right: 10px;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.356);
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.containerPersonagem-Direita .tres-caixas .caixa2 {
    margin-right: 10px;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.356);
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 25%;

}

.containerPersonagem-Direita .tres-caixas .caixa3 {
    margin-right: 10px;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.356);
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.containerPersonagem-esquerda {
    display: flex;
    width: 50%;
}

.containerPersonagem-esquerda .caixa-personagem {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.containerPersonagem-esquerda .caixa-personagem img {
    height: 80%;
    border-bottom: 3px solid #000407;
}

.divisor-de-card {
    display: flex;
}

.divisor-de-card section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20%;
}

.divisor-de-card section .card-cima {
    background-color: #000407;
    border-top-left-radius: 50px;
    width: 200px;
}

.divisor-de-card section .card-cima img {
    width: 200px;
    height: 150px;
    border-top-left-radius: 50px;
}

.divisor-de-card section .card-baixo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    border-bottom-right-radius: 50px;
    background-color: white;
}

.divisor-de-card section .card-baixo .habilidade {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.divisor-de-card section .card-baixo .habilidade2 {
    font-size: 20px;
}

.divisor-de-card .card-direita {
    width: 50%;
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    height: 150px + 75px;
}


.divisor-de-card .card-direita .ferramenta .teste{
    background-color: #44a4ee;
    display: flex;
    border-top-left-radius: 50px;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    border-bottom-right-radius: 50px;

}
.divisor-de-card .card-direita h1 {
    display: flex;
    align-items: center;
    height: 75%;
    font-weight: bold;
    font-size: 25px;
}

.divisor-de-card .card-direita img {
    width: 150px;
    height: 150px;
}
.divisor-de-card .card-direita .botao {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.divisor-de-card .card-direita .botao li {
    border: 1px solid white;
    padding: 2px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.divisor-de-card .card-direita .botao button {
    height: 50px;
    color: #2F4858;
    width: 150px;
    cursor: pointer;
    background-color: #F3A8A6;
}

.divisor-de-card .card-direita  .botao button:hover {
    opacity: 0.5;
}

/*
Valores

--------------------------------------

Inicio do Site

Imagem da todoroki
*/

.imagem_do_inicioTodoroki {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 98vh;
    opacity: 1;
    background-image: url(../img/.gif);
}

.imagem_do_inicioTodoroki header {
    padding: 15px 0;
    width: 100%;
    border: none;
    display: flex;
}

.imagem_do_inicioTodoroki header .container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.imagem_do_inicioTodoroki header .container {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}

.imagem_do_inicioTodoroki header .container .logo {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
    margin-left: 5%;
}

.imagem_do_inicioTodoroki header .container .logo img {}

.imagem_do_inicioTodoroki header .container .itens {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 80%;
}

.imagem_do_inicioTodoroki header .container .itens li {
    margin-left: 30px;
    color: #2F4858;
}

.imagem_do_inicioTodoroki header .container .itens li:hover {
    opacity: 0.5;
}

.imagem_do_inicioTodoroki header .container .botaos {
    justify-content: flex-end;
    display: flex;
    margin-right: 5%;
    align-items: center;
}

.imagem_do_inicioTodoroki header .container .botaos li {
    margin-left: 20px;
    width: 100%;
    padding: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    border: 1px solid white;
}

.imagem_do_inicioTodoroki header .container button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 6vw;
    border: none;
    background-color: #F3A8A6;
    font-size: 15px;
}

.imagem_do_inicioTodoroki header .container button:hover {
    opacity: 0.5;
}



/*
Inicio do Site

Imagem do todoroki
--------------------------------------

Inicio dos personagens

Troca de personagem 
*/


.imagem_do_inicioTodoroki {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 98vh;
    opacity: 1;
    background-image: url(../img/fotodoInicioTodoroki.gif);
}

.imagem_do_inicioTodoroki header {
    padding: 15px 0;
    width: 100%;
    border: none;
    display: flex;
}

.imagem_do_inicioTodoroki header .container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.imagem_do_inicioTodoroki header .container {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}

.imagem_do_inicioTodoroki header .container .logo {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
    margin-left: 5%;
}

.imagem_do_inicioTodoroki header .container .logo img {}

.imagem_do_inicioTodoroki header .container .itens {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 80%;
}

.imagem_do_inicioTodoroki header .container .itens li {
    margin-left: 30px;
    color: #36486B;
}

.imagem_do_inicioTodoroki header .container .itens li:hover {
    opacity: 0.5;
}

.imagem_do_inicioTodoroki header .container .botaos {
    justify-content: flex-end;
    display: flex;
    margin-right: 5%;
    align-items: center;
}

.imagem_do_inicioTodoroki header .container .botaos li {
    margin-left: 20px;
    width: 100%;
    padding: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    border: 1px solid white;
}

.imagem_do_inicioTodoroki header .container button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 6vw;
    border: none;
    background-color: #BCE9E4;
    font-size: 15px;
}

.imagem_do_inicioTodoroki header .container button:hover {
    opacity: 0.5;
}


.imagem_do_inicioTodoroki .container_toga {
    height: 100%;
}

.imagem_do_inicioTodoroki .container_toga .container_inicial {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.imagem_do_inicioTodoroki .container_toga .container_inicial .container_nome {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagem_do_inicioTodoroki .container_toga .container_inicial .container_nome .nome_himiko_toga {
    margin-top: 10px;
    width: 100%;
    -webkit-text-stroke: .5vh #FFF;
    font-size: 10vw;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(../img/RaioTodoroki.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text 10s ease alternate infinite;
}

.imagem_do_inicioTodoroki .container_toga .container_frase {
    color: #A22821;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.imagem_do_inicioTodoroki .container_toga .container_frase h1 {
    background-color: #BCE9E4;
    opacity: 0.8;
}

.imagem_do_inicioTodoroki .container_toga .botao {
    margin-top: 120px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;

}

.imagem_do_inicioTodoroki .container_toga .botao li {
    border: 1px solid white;
    padding: 2px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.imagem_do_inicioTodoroki .container_toga .botao button {
    height: 50px;
    color: #2F4858;
    width: 150px;
    cursor: pointer;
    background-color: #BCE9E4;
}

.imagem_do_inicioTodoroki .container_toga .botao button:hover {
    opacity: 0.5;
}

.imagem_do_inicioTodoroki .container_toga .wave {
    display: flex;
}

.imagem_do_inicioTodoroki .container_toga .wave img {
    width: 100%;
    height: 15vh;
    background-size: cover;
}

.container_antes_do_carrosel {
    margin-top: 20px;
    background-color: #000407;
    width: 100%;
    height: 15vh;
    color: white;
    display: flex;
    align-items: center;

}

.container_antes_do_carrosel .frase_maior {
    font-size: 40px;
    justify-content: flex-start;
    margin-left: 50px;
    width: 100%;
    color: #F3A8A6;
}

.container_antes_do_carrosel .frase_menor {
    font-size: 15px;
    display: flex;
    width: 100%;
    color: #FFE4E1;
    align-items: flex-end;
    margin-right: 50px;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 40px;
}

.container_antes_do_carrosel .frase_menor h1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}