@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brancopuro: #FFF;
   --LaranjaToga: #FEEBD6;
    --VerdeClaro: #11C76F;
    --HoverMenu: rgba(23, 233, 132, 0.701);
    --TextoPreto: #000;
    --TextoVerdeEscuro: #054A29;
    --VerdeEscuro: #054A29;
    --FundoGrafico: #eff0e8d5;
    --Sombra: rgba(0, 0, 0, 0.08);
    --TextoVerdeClaro: #11C76F;
    --Botao: #D9D9D9;
    --critico: #ff0000;
    --ok: #11C76F;
    --atencao: #bbb502;
    --adicionar: #D4FADE;
}

body {
    overflow-x: hidden;
    background-color: var(--LaranjaToga);
}

body.Escuro {
    --BrancoMelvs: #3A3B3C;
    --VerdeClaro: #242526;
    --HoverMenu: #4D4C4C;
    --TextoPreto: #CCC;
    --TextoVerdeEscuro: #CCC;
    --VerdeEscuro: #3A4A40;
    --FundoGrafico: rgba(255, 255, 255, 0.179);
    --Sombra: rgba(255, 255, 255, 0.179);
    --brancopuro: #000;
    --TextoVermelho: #B75E38;
    --TextoLaranja: #F9F871;
    --TextoVerdeClaro: #11C76F;
    --Botao: #697987;
    --adicionar: #3a3a3a;
}


i {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FEEBD6;
}


.navegacao {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    margin-top: 60px;
    position: fixed;
    width: 60px;
    height: 80%;
    background-color: #2F4858;
    overflow: hidden;
    transition: 0.5s;
}

.navegacao ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navegacao ul li {
    position: relative;
    width: 100%;
    border-radius: 30px;
}

.navegacao ul li .fotoDePerfil {
    margin-bottom: 40px;
}

/* hover */

.navegacao ul li:hover {
    background: var(--HoverMenu);
}

.navegacao ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:#FEEBD6;

}

.navegacao ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

.navegacao ul li a i {
    font-size: 24px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color:#FEEBD6;
}


.navegacao ul li a .titulo {
    position: relative;
    display: block;
    padding: 0 10pxs;
    height: 60px;
    line-height: 60px;
}

.navegacao ul li a .Modo {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
}

.menu {
    position: fixed;
    width: 60px;
    left: 60px;
    transition: 0.5s;
    height: 60px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 2.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F4858;
}

.containerComentarios {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.conteudoComentarios {
    width: 100%;
    background-color: #FEEBD6;
    align-items: center;
    display: flex;
    flex-direction: column;
}




.caixaComentarioTodoroki {
    background-image: url(../assets/img/TodorokiLogincadastro.jpg);
    height: 130%;
    width: 50%;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}


.caixaComentarioHimiko {
    background-image: url(../assets/img/HimikoTogaRecortes.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130%;
    width: 50%;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}


.caixaConteudo {
    background-color:rgba(41, 38, 38, 0.534);
    margin: 30px;
    color: white;
}
.comentarioCima {
    display: flex;
}

 .nome {
    width: 100%;
    padding-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
}



 .dia {
    width: 90%;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 15px;
    display: flex;
    justify-content: start;
}

.comentario {
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 25px;
    width: 90%;
    height: 15vh;
    font-size: 15px;
    text-align: justify;
    display: flex;
    justify-content: flex-start;

}


.botao {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-right: 20px;
}

.botao li {
    margin-left: 20px;
    width: 100%;
    padding: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    border: 1px solid white;
    list-style: none;

}
/* #BCE9E4; */
.caixaConteudo .botao {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-right: 20px;
}
.caixaConteudo .botao li {

    margin-left: 20px;
    width: 100%;
    padding: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    border: 1px solid white;
    list-style: none;

}

.caixaComentarioTodoroki .botao button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 6vw;
    border: none;
    background-color:#BCE9E4;
    font-size: 15px;
}

.caixaComentarioHimiko .botao button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 6vw;
    border: none;
    background-color:#F3A8A6;
    font-size: 15px;
}
.botao button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 6vw;
    border: none;
    background-color: #F3A8A6;
    font-size: 15px;
}

.botao button:hover {
    opacity: 0.5;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.514);
}

dialog {
    width: 100%;
    background-color: transparent;
    border: none;
}

.modalzinho {
    display: none;
}

dialog .containerComentar {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

dialog .conteudoComentar {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
}

dialog .caixaComentar {
    background-color:#2F4858;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.caixaComentar .comentarCima {
    display: flex;
    margin-top: 20px;
    color: white;
}

dialog .caixaComentar .comentarCima i {
    cursor: pointer;
    width: 60px;
    height: 70px;
    color: white;
    margin-left: 30px;
}

.caixaComentar .comentario {
    width: 90%;
    margin-left: 30px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.caixaComentar textarea{
    width: 100%;
    height: 100%;
    margin-left: 30px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.caixaComentar  .dia {
    width: 90%;
    margin-left: 25px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.caixaComentario .comentario {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
    align-items: baseline;
    display: flex;
    justify-content: flex-start;

}

.caixaComentario .input {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
    align-items: baseline;
    justify-content: flex-start;
    height: 50px;
}

.caixaComentario input {
    width: 100%;
    height: 30px;
    /* tag ativar */
}

.navegacao.ativar {
    width: 0px;
}

.menu.ativar {
    width: 0px;
    left: 0px;
}

.containerJogos {
    background-color:#F2E6E1;
    width: 100%;
    height: 90vh;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;

}

.containerJogos .container_inicial {
    background-color: gray;
    width: 100%;

}

.containerJogos .container_inicial2 {
    background-color: blue;
    width: 50%;
}

.containerJogos .fraseJogo {
    position: absolute;
    font-size: 17px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 80px;
    height: 90vh;
    align-items: center;
}

.containerJogos .fraseJogo .frase {
    background-color: #2F4858;
    height: 20vh;
    width: 40%;
    display: flex;
    color: white;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    flex-direction: column;
    align-items: center;
}

.containerJogos .container_inicial img {
    height: 100%;
    width: 100%;
}

.containerJogos .container_inicial2 img {
    height: 100%;
    width: 100%;
}

.containerJogos a {
    cursor: pointer;
}
/********************************************************************************************************/

.analitics{
    background-color: #F2E6E1;
    height: 70vh;
    width: 100%;
    padding-left: 25%;
    padding-right: 60px;
    padding-top: 50px;
    border-bottom: 3px solid black;
}

.analitics .titulo{
font-size: 20px;
margin-left: 50px;

font-weight: bold;
}

.analitics .subtitulo{
    margin-top: 15px;
    width: 40%;
    margin-left: 50px;

    text-align: justify;
    font-size: 15px;
}
.analitics .notas{
    height: 70%;
    display: flex;
}
.analitics .notas .media{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.analitics .notas .media .estrelas{
    display: flex;
}
.estrelas img{
    width: 30px;
    height: 30px;
}

.analitics .notas .media .total{
    font-size: 25px;
    font-weight: 300;
}

.notas .quantidadeNotas{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    margin-left: 50px;
}   

.quantidadeNotas .numero {
    margin-left: 30px;
    align-items: center;
    display: flex;
}

dialog .estrelas {
    display: flex;
    margin-left: 5px;
    color: gold;
    justify-content: center;
    align-items: center;
}
dialog .estrelas i {
    color: gold;
}

dialog .estrelas button {
cursor: pointer;
}

.mural{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}
.botaoComecar{
display: flex;
justify-content: center;
align-items: center;
}
.botaoComecar .botao{
        justify-content: center;
        display: flex;
        margin-top: 10px;
        align-items: center;
        margin-right: 20px;
}



.botaoComecar .botao button {
    cursor: pointer;
    height: 5vh;
    color: #2F4858;
    width: 10vw;
    border: none;
    background-color:#F3A8A6;
    font-size: 15px;
}


.botaoComecar .botao li {
    width: 87%;
    padding:2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0);
    list-style: none;

}